@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900;
}

@media print {

  .no-print,
  aside,
  nav,
  header,
  button {
    display: none !important;
  }

  main {
    padding: 0 !important;
    width: 100% !important;
  }

  .bg-white {
    box-shadow: none !important;
    border: none !important;
  }
}